
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>    
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello World...!!")

Hello World...!!

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [6]:
a=input("Enter name")
print("Hello",a ,"Welcome to Python Lab", end=".",sep=",")

Enter name jiya

Hello,jiya,Welcome to Python Lab.

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [7]:
a=int(input("Enter no 1: "))
b=int(input("Enter no 2: "))
c=int(input("Enter no 3: "))
print("Numbers: ",a,b,c)
print("Sum: ",a+b+c)
print("Averge: ",(a+b+c)/3)

Enter no 1:  10
Enter no 2:  20
Enter no 3:  30

Numbers:  10 20 30
Sum:  60
Averge:  20.0

 04) WAP to accept name (string), age (int), and percentage (float).
 Input : Riya,18,92.5
 Output : 
 Name: Riya  Type: <class 'str'>
 Age: 18  Type: <class 'int'>
 Percentage: 92.5  Type: <class 'float'>

In [9]:
name=input("Enter name")
age=int(input("Enter age"))
per=float(input("Enter persantage"))
print("Name:",name,"Type:", type(name))
print("Age:",age,"Type:",type(age))
print("Persantage:",per,"Type:",type(per))

Enter name Riya
Enter age 18
Enter persantage 92.5

Name: Riya Type: <class 'str'>
Age: 18 Type: <class 'int'>
Persantage: 92.5 Type: <class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [11]:
print("Python", "Programming", "Basics",sep="|",end="###")

Python|Programming|Basics###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [12]:
a=input("Enter something")
print("Values:",a)
print("Type:",type(a))
print("ID:",id(a))

Enter something hello

Values: hello
Type: <class 'str'>
ID: 2263887257232

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [13]:
a=5
print("Original ID of a:",id(a))
a=10
print("New ID of a:",id(a))

Original ID of a: 140718922904616
New ID of a: 140718922904776

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [14]:
print("Welcome to python","This is the second lab","Enjoy coding!",sep="\n")

Welcome to python
This is the second lab
Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [27]:
print(f"{'SrNo':10}  {'Name':10} {'Subject':10} {'Grade':10} {'Persantage':10}")
print(f"{'1':>10} {'Nisha Patel':^10} {"Math":<10} {"A":^10} {"92":>10}")
print(f"{'2':>10} {'Aarav Modi':^10} {"Science":<10} {"B+":^10} {"85":>10}")
print(f"{'3':>10} {'Jiya Shah':^10} {"English":<10} {"A+":^10} {"96":>10}")

SrNo        Name       Subject    Grade      Persantage
         1 Nisha Patel Math           A              92
         2 Aarav Modi Science        B+             85
         3 Jiya Shah  English        A+             96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [37]:
a=float(input("Enter no"))
print(f"2 decimals: {a : .2f}")
print(f"3 decimals: {a : .3f}")
print(f"Width 10: {a : 10.2f}")

Enter no 2.3456

2 decimals:  2.35
3 decimals:  2.346
Width 10:       2.35

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [39]:
a=int(input("enter no"))
b=int(input("enter no"))
print(f"Sum: {a+b}")
print(f"Difference: {a-b}")
print(f"Product : {a*b}")

enter no 5
enter no 6

Sum: 11
Difference: -1
Product : 30

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [40]:
date,month,year=input("enter date").split()
print(date,month,year,sep="/")
print(date,month,year,sep="-")

enter date 1 12 2025

1/12/2025
1-12-2025

### 13) WAP to calculate area and perimeter of a circle.

In [45]:
import math
r=int(input("Enter radius"))
print(math.pi*r*r)
print(math.pi*r*2)

Enter radius 4

50.26548245743669
25.132741228718345

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [50]:
a=int(input("Enter degree"))
print("ans=",(a*(9/5)+32))
b=float(input("Enter Fahrenheit"))
print("ans=",((b-32)*(5/9)))

Enter degree 34

ans= 93.2

Enter Fahrenheit 93.4

ans= 34.111111111111114

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [47]:
a=float(input("Enter distance"))
print("meter:",a*1000)
print("feet:",a*3280.84)
print("inches:",a*39370.1)
print("centimeter:",a*100000)

Enter distance 34

meter: 34000.0
feet: 111548.56
inches: 1338583.4
centimeter: 3400000.0